.App {
    background-color: rgb(30, 30, 30);
    color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    
}

.container {
    border: 2px solid aquamarine; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;

}

.button {
    margin: 20px;
    width: 100px;
    height: 50px;
    color: rgb(30, 30, 30);
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    font-size: xx-large;
    font-weight: 700;

}

.disabled {
    opacity: 50%;
}

.number {
    font-weight: 700;
    font-size: 50px;

}


.red {

    font-weight:900;
    color: red;
    font-size: 70px;
}
.message {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.inner {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.outline {
justify-content: space-evenly;
    flex-direction: column;
}

.h {
    height: 150px;
}

.label {
    font-size: larger;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.input {
    font-size: large;
    border: 2px solid aquamarine; 
    width: 50%;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}